@using EntityModels.DamainEntities;
@inject BLL.BusinessInterfaces.IService<Article> _articles
@{ 
    var letest = _articles.GetAll().Where(e => e.IsApproved == true).LastOrDefault();
    var mostPopular = _articles.GetAll().Where(e => e.IsApproved == true).OrderByDescending(e => e.NumberOfViews).FirstOrDefault();
} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CourseWork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background: #f2f3f5;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">News</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">All News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="my-2 my-lg-0">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm" type="button">
                                @User.Identity.Name
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Article" asp-action="Add">Write Article</a>
                                <a class="dropdown-item" asp-controller="SiteManagement" asp-action="ManagementBody">Manage Site</a>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 col-9 d-flex">
            <div class="col-12">
                @RenderBody()
            </div>
            <div>
                <div>
                    <div>
                        <label class="col-form-label-lg modal-title font-weight-bold">Latest News</label>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(letest?.ImageBytes)" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@letest?.Title</h5>
                                <p class="card-text">@letest?.Text.Substring(0, letest.Text.Length / 3)...</p>
                                <a asp-action="ShowArticle" asp-controller="Article" asp-route-articleId="@letest.Id" class="btn btn-primary">Go to Article</a>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <label class="col-form-label-lg modal-title font-weight-bold">Most Popular</label>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(mostPopular?.ImageBytes)" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@mostPopular?.Title</h5>
                                <p class="card-text">@mostPopular?.Text.Substring(0, mostPopular.Text.Length / 3) ...</p>
                                <a class="btn btn-primary" asp-action="ShowArticle" asp-controller="Article" asp-route-articleId="@mostPopular.Id">Go to Article</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CourseWork - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
