@using EntityModels.DamainEntities;

@model  IEnumerable<Article>;

<div>
    <h2>My Articles</h2>
    @if (Model.Any())
    {
        @foreach (var article in Model)
        {
            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="card-img-overlay" style="height: 100%; width: 100%; object-fit:contain;" src="data:image/jpeg;base64,@Convert.ToBase64String(article.ImageBytes)" alt="ArticleImage">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a class="card-link badge-light" asp-action="ShowArticle" asp-controller="Article" asp-route-articleId="@article.Id">@article.Title</a></h5>
                            <p class="card-text">@article.Text</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <ul type="None" class="m-0 p-2 d-sm-flex">
                                <li>@article.Date.ToString("dd.MM.yyyy HH:mm")</li>
                                <li class="ml-2">@article.Author.Name</li>
                            </ul>
                            <div>
                                <span><img src="~/eyeIcon.png" alt="Views" /></span>
                                <span>@article.NumberOfViews</span>
                            </div>
                            <a class="btn btn-outline-danger" asp-controller="Article" asp-action="RemoveArticle" asp-route-articleId="@article.Id">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>