@using CourseWork.Models.SiteManagement;

@model TopicManagementViewModel

<div>
    <div class="p-2">
        <form class="d-flex" asp-action="AddTopic" method="get" asp-antiforgery="true">
            <div class="col-8">
                <input class="form-control" type="text" name="topicName" placeholder="Topic name"/>
            </div>
            <div class="col-3">
                <button class="btn btn-success" type="submit" asp-action="AddTopic">Add Topic</button>
            </div>
        </form>
    </div>
    <div class="p-2">
        <form asp-antiforgery="true">
            <table>
                <tr>
                    <td class="p-2 w-25">Name</td>
                    <td class="p-2 w-25">Views</td>
                    <td class="p-2 w-25">Approved Articles</td>
                    <td class="p-2 w-25">Not Approved Articles</td>
                </tr>
                @if (Model.Topics.Any())
                {
                    for (int i = 0; i < Model.Topics.Count; i++)
                    {
                        <tr>
                            <td class="p-2 w-25">@Model.Topics[i].Name</td>
                            <td class="p-2 w-25">@Model.AmountOfViews[i]</td>
                            <td class="p-2 w-25">@Model.Approved[i]</td>
                            <td class="p-2 w-25">@Model.NotApproved[i]</td>
                            <td>
                                <button type="submit" class="btn btn-danger" asp-controller="SiteManagement" asp-action="RemoveTopic" asp-route-id="@Model.Topics[i].Id">Remove</button>
                            </td>
                        </tr>
                    }
                }
            </table>
        </form>
    </div>
</div>