@using EntityModels.Users

@model IEnumerable<Author>

<div>
    <form>
        <table class="m-2">
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
                <td>Role</td>
            </tr>
            @foreach (var author in Model)
            {
                <tr>
                    <td class="w-25">@author.Name</td>
                    <td class="w-25">@author.Email</td>
                    <td class="w-25">@author.Phone</td>
                    <td class="w-25">@author.Role.ToString()</td>
                    <td>
                        <a class="btn btn-success" asp-action="IncreaceRoleToAuthor" asp-route-authorId="@author.Id">Inc</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="DecreaceRoleToAuthor" asp-route-authorId="@author.Id">Dec</a>
                    </td>
                </tr>
            }
        </table>
    </form>
</div>